<h2> List of borrowed books</h2>
<table class = "table table-striped">
  <thead>
  <tr>
    <th> Id </th>
    <th> Name </th>
    <th> Author </th>
    <th> Borrowed by </th>
    <th> From </th>
    <th> Actions </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let book of books" >
    <td> {{book.id}} </td>
    <td> {{ book.title }} </td>
    <td> {{ book.author }} </td>
    <td> {{ book.borrowed.firstName + " " +  book.borrowed.lastName}} </td>
    <td> {{ book.borrowed.from}}</td>
    <td>
      <button (click) = "returnBook(book.id)" class = "btn btn-warning" style="margin-left: 10px"> Retun</button>
      <!--<button (click) = "bookDetails(book.id)" class = "btn btn-danger" style="margin-left: 10px"> View</button>-->
    </td>
  </tr>
  </tbody>
</table>
